<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../../include/head.ejs %>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../../include/header.ejs %>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Members</h1>
            </header>
            
            <h3>We are currently looking for enthusiastic graduate students (M.S., Ph.D.).</h3>
            <h3>We welcome applicants from diverse backgrounds (e.g., CS, EE, Biology, Mathematics, Physics,...) who are interested in ‘Bioinformatics, Systems Biology, Medical informatics, Machine learning, Data mining’</h3>
            <h3>Please drop your CV to syyoo@jnu.ac.kr.</h3>

            <hr>

            <h2 style="text-align: center;">Senior researcher</h2>
            
            <h3>Hyungkoo Kim</h3>
            <ul style="list-style-type: none; ">
              <li><strong>Experiences</strong></li>
              <ul>
                <li>
                  Senior Researcher, 2019 – Present<br>School of Electronics and Computer Engineering, Chonnam National University
                </li>
                <li>
                  Senior software developer, 2018-2019<br>DEVSISTERS Corporation
                </li>
                <li>
                  Senior software developer, 2016-2018<br>GAMEBIL COM2US Platform
                </li>
                <li>
                  Senior software developer, 2012 – 2015<br>Netmarble Games Corporation
                </li>
                <li>
                  Senior Researcher, 2008 – 2012<br>Nable communications
                </li>
                <li>
                  Junior software developer, 2005 – 2007<br>Mobiletop Corporation
                </li>
                <li>
                  Junior software developer, 2000 -2004<br>NETS Corporation
                </li>
              </ul>
              <li>
                <strong>Publications (Book)</strong>
              </li>
              <ul>
                <li>
                  BREW & WIPI 모바일 프래그래밍 (가메출판사 2005)
                </li>
                <li>
                  TCP/IP 소켓과 시스템 프로그래밍 (가메출판사 2005)
                </li>
              </ul>
              <li><strong>Research strengths</strong></li>
              <ul>
                <li>Various platform development skill including mobile and server</li>
                <li>Guide Platform linkage</li>
                <li>API references </li>
                <li>Usability improvement of console</li>
              </ul>
            </ul>
            <br>
            <h2 style="text-align: center;">Undergraduate students</h2>

            <h3>Seyoung Min</h3>
            <ul style="list-style-type: none;">
              <li>Major : Computer Science</li>
            </ul>
            <h3>Jaewook Shin</h3>
            <ul style="list-style-type: none;">
              <li>Major : Artificial intelligence</li>
            </ul>
            <h3>Minji Lee</h3>
            <ul style="list-style-type: none;">
              <li>Major : Artificial intelligence</li>
            </ul>
            <h3>Sunkyung Lee</h3>
            <ul style="list-style-type: none;">
              <li>Major : Artificial intelligence</li>
            </ul>
            <h3>Seonwoo Jung</h3>
            <ul style="list-style-type: none;">
              <li>Major : Artificial intelligence</li>
            </ul>
            <h3>Hyeonseo Yun</h3>
            <ul style="list-style-type: none;">
              <li>Major : Computer Science</li>
            </ul>
            <h3>Jieun Choi </h3>
            <ul style="list-style-type: none;">
              <li>Major : Computer Science</li>
            </ul>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <% include ../../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../../include/script.ejs %>
  </body>
</html>
