<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/members">Members</a></li>
          <li><a href="/research">Research</a></li>
          <li><a href="/publication">Publication</a></li>
          <li><a href="/Career">Career</a></li>
        </ul>
      </nav>

      <!-- Section -->
      <section>
        <header class="major">
          <h2>Contact</h2>
        </header>
        <ul class="contact">
          <li class="icon solid fa-envelope"><a href="mailto:syyoo@jnu.ac.kr">syyoo@jnu.ac.kr</a></li>
          <li class="icon solid fa-phone">062-530-1761</li>
          <li class="icon solid fa-home">
            주소.... <br>
            주소..
          </li>
        </ul>
      </section>

      <!-- Footer -->
      
      <% include ./footer.ejs %>
    </div>
  </div>
</div>