<!-- Sidebar -->
<div id="sidebar" >
    <div class="inner" >
      <!-- Menu -->
      <nav id="menu" >
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul style="font-size: 10px;">
          <li><a href="/">Home</a></li>
          <li>
            <span class="opener">People</span>
            <ul>
              <li><a href="/professor">Professor</a></li>
              <li><a href="/members">Members</a></li>
              <li><a href="/alumni">Alumni</a></li>
            </ul>
          </li>
          <li>
            <span class="opener">Research</span>
            <ul>
              <li><a href="/field">Fields</a></li>
              <li><a href="/method">Methods</a></li>
              <li><a href="/project">Projects</a></li>
            </ul>
          </li>
          <li><a href="/lecture">Lecture</a></li>
          <li><a href="/publication">Publications</a></li>
          <li><a href="/patent">Patents</a></li>
          <li><a href="/Career">Career</a></li>
        </ul>
      </nav>

      <!-- Contact -->
      <section>
        <header class="major">
          <h2>Contact</h2>
        </header>
        <ul class="contact">
          <li class="icon solid fa-envelope"><a href="mailto:syyoo@jnu.ac.kr">syyoo@jnu.ac.kr</a></li>
          <li class="icon solid fa-phone">062-530-1761</li>
          <li class="icon solid fa-home">
            Address. 77, Yongbong-ro, Buk-gu, Gwangju, 61186, Korea
Detailed Address. College of Engineering 6, 713

          </li>
        </ul>
      </section>

      <!-- News -->
      <section>
        <header class="major">
          <h2>News</h2>
        </header>
        <div class="mini-posts">
          <article>
            <a href="/newspaper" class="image"><img src="images/jnu.jpg" alt="" /></a>
            <p>우충완 교수 연구실, Nature Protocols 논문 게재</p>
          </article>
        </div>
        <ul class="actions">
          <li><a href="/newspaper" class="button">More</a></li>
        </ul>
      </section>

      <!-- Footer -->
      
      <% include ./footer.ejs %>
    </div>
  </div>
</div>