<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/members">Members</a></li>
          <li>
            <span class="opener">Research</span>
            <ul>
              <li><a href="/field">Fields</a></li>
              <li><a href="/method">Methods</a></li>
            </ul>
          </li>
          <li><a href="/publication">Publication</a></li>
          <li><a href="/Career">Career</a></li>
        </ul>
      </nav>
      <section>
        <header class="major">
          <h2>News</h2>
        </header>
        <div class="mini-posts">
          <article>
            <a href="/newspaper" class="image"><img src="images/jnu.jpg" alt="" /></a>
            <p>우충완 교수 연구실, Nature Protocols 논문 게재</p>
          </article>
        </div>
        <ul class="actions">
          <li><a href="/newspaper" class="button">More</a></li>
        </ul>
      </section>

      <!-- Section -->
      <section>
        <header class="major">
          <h2>Contact</h2>
        </header>
        <ul class="contact">
          <li class="icon solid fa-envelope"><a href="mailto:syyoo@jnu.ac.kr">syyoo@jnu.ac.kr</a></li>
          <li class="icon solid fa-phone">062-530-1761</li>
          <li class="icon solid fa-home">
            주소.... <br>
            주소..
          </li>
        </ul>
      </section>

      
      <!-- Footer -->
      
      <% include ./footer.ejs %>
    </div>
  </div>
</div>