<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <!-- head -->
  <% include ../include/head.ejs %>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../include/header.ejs %>

          <!-- Banner -->
          <section id="banner">
            <div class="content">
              <header>
                <h1>
                  연구실<br />
                  소개
                </h1>
                <p>내용........</p>
              </header>
              <p>
                내용Script내용Script내용Script내용Script내용Script내용Script내용Script내용Script내용Script내용Script내용Script내용Script내용Script내용Script내용Script
              </p>
              <ul class="actions">
                <li><a href="" class="button big">Learn More</a></li>
              </ul>
            </div>
            <span class="image object">
              <img src="images/jnu.jpg" alt="" />
            </span>
          </section>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>연구 분야</h2>
            </header>
            <div class="features">
              <article>
                <span class="icon solid fas fa-brain"></span>
                <div class="content">
                  <h2>AI</h2>
                  <p>
                    <Strong>인공지능</Strong>은 인간의 지능을 갖고 있는 기능을 갖춘 컴퓨터 시스템이며, 인간의 지능을 기계 등에 인공적으로 시연(구현)한 것이다. 일반적으로 범용 컴퓨터에 적용한다고 가정한다. 이 용어는 또한 그와 같은 지능을 만들 수 있는 방법론이나 실현 가능성 등을 연구하는 과학 분야를 지칭하기도 한다
                  </p>
                </div>
              </article>
              <article>
                <span class="icon solid fas fa-database"></span>
                <div class="content">
                  <h2>BigData</h2>
                  <p>
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                  </p>
                </div>
              </article>
              <article>
                <span class="icon solid fa-signal"></span>
                <div class="content">
                  <h2>Etc</h2>
                  <p>
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                  </p>
                </div>
              </article>
            </div>
          </section>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>News</h2>
            </header>
            <div class="posts">
              <article>
                <a href="/newspaper" class="image"><img src="images/jnu.jpg" alt="" /></a>
                <h3>소식 1</h3>
                <p>
                  우충완 교수 연구실, Nature Protocols 논문 게재...
                </p>
                <ul class="actions">
                  <li><a href="/newspaper" class="button">More</a></li>
                </ul>
              </article>
              <article>
                <a href="/newspaper" class="image"><img src="images/jnu.jpg" alt="" /></a>
                <h3>소식 2</h3>
                <p>
                  우충완 교수 연구실, Nature Protocols 논문 게재...
                </p>
                <ul class="actions">
                  <li><a href="/newspaper" class="button">More</a></li>
                </ul>
              </article>
              
            </div>
          </section>
        </div>
      </div>

      <!-- Sidebar -->
      <% include ../include/sidebar.ejs %>
      </div>
    </div>

    <!-- Script -->
    <% include ../include/script.ejs %>
  </body>
</html>
