<!DOCTYPE html>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <% include ../include/head.ejs %>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <% include ../include/header.ejs %>

          <!-- Content -->
          <section>
            <header class="main">
              <h1>Research</h1>
              <h2>
                Method
              </h2>
            </header>

            <div class="row" id="field">
                <ul style="font-size: 17px;"> 
                    <li>Ubaidullah Rajput, Fizza Abbas, and Heekuck Oh, "A hybrid approach for efficient privacy preserving Authentication in VANET," to appear in IEEE Access, DOI: 10.1109/ACCESS.2017.2717999, Jun. 2017.ajlk <a href="">PDF</a></li>
                    <li>Fizza Abbas, Ubaidullah Rajput, and Heekuck Oh, "Priority-Aware Interests Similarity Protocol (PAISP) for Proximity Based Mobile Social Network," Wireless Personal Communications, DOI 10.1007/s11277-016-3823-6, Oct. 2016.<a href="">PDF</a></li>
                    <li>Lee M, Kim DW, Yoon H, So D, Khalmuratova R, Rhee CS, Park JW, Shin HW. SIRT1 attenuates nasal polypogenesis by suppressing epithelial-to-mesenchymal transition. J Allergy Clin Immunol. 2015 doi:10.1016/j.jaci.2015.07.026 (in press)</li>
                    <li>Ubaidullah Rajput, Fizza Abbas, and Heekuck Oh, "A Hierarchical Privacy Preserving Pseudonymous Authentication Protocol for VANET," IEEE Access, DOI 10.1109/ACCESS.2016.2620999, Oct. 2016.<a href="">PDF</a></li>
                    <li>Lee M, Kim DW, Yoon H, So D, Khalmuratova R, Rhee CS, Park JW, Shin HW. SIRT1 attenuates nasal polypogenesis by suppressing epithelial-to-mesenchymal transition. J Allergy Clin Immunol. 2015 doi:10.1016/j.jaci.2015.07.026 (in press)<a href="">PDF</a></li>
                    <li>Lee M, Kim DW, Yoon H, So D, Khalmuratova R, Rhee CS, Park JW, Shin HW. SIRT1 attenuates nasal polypogenesis by suppressing epithelial-to-mesenchymal transition. J Allergy Clin Immunol. 2015 doi:10.1016/j.jaci.2015.07.026 (in press)<a href="">PDF</a></li>
                    <li>Junggab Son, Donghyun Kim, Md Zakirul Alam Bhuiyan, Rasheed Hussain, and Heekuck Oh, "A New Outsourcing Conditional Proxy Re-Encryption Suitable for Mobile Cloud Environment," to appear in Concurrency and Computation: Practice and Experience.</li>
                    <li>Junggab Son, Donghyun Kim, Md Zakirul Alam Bhuiyan, Rasheed Hussain, and Heekuck Oh, "A New Outsourcing Conditional Proxy Re-Encryption Suitable for Mobile Cloud Environment," to appear in Concurrency and Computation: Practice and Experience.</li>
                    <li>Junggab Son, Donghyun Kim, Md Zakirul Alam Bhuiyan, Rasheed Hussain, and Heekuck Oh, "A New Outsourcing Conditional Proxy Re-Encryption Suitable for Mobile Cloud Environment," to appear in Concurrency and Computation: Practice and Experience.</li>

                    <li>Junggab Son, Donghyun Kim, Md Zakirul Alam Bhuiyan, Rasheed Hussain, and Heekuck Oh, "A New Outsourcing Conditional Proxy Re-Encryption Suitable for Mobile Cloud Environment," to appear in Concurrency and Computation: Practice and Experience.<a href="">PDF</a></li>
                    <li>Junggab Son, Donghyun Kim, Md Zakirul Alam Bhuiyan, Rasheed Hussain, and Heekuck Oh, "A New Outsourcing Conditional Proxy Re-Encryption Suitable for Mobile Cloud Environment," to appear in Concurrency and Computation: Practice and Experience.<a href="">PDF</a></li>
                    <li>Junggab Son, Donghyun Kim, Md Zakirul Alam Bhuiyan, Rasheed Hussain, and Heekuck Oh, "A New Outsourcing Conditional Proxy Re-Encryption Suitable for Mobile Cloud Environment," to appear in Concurrency and Computation: Practice and Experience.</li>
                </ul>
            </div>
          </div>
          </section>
        </div>
      </div>
      
      <!-- Sidebar -->
      <% include ../include/sidebar.ejs %>

    <!-- Scripts -->
    <% include ../include/script.ejs %>
  </body>
</html>
